---
import Layout from "../../layouts/Layout.astro";
import { PrismaClient } from "@prisma/client";

const prisma = new PrismaClient()

const { id } = Astro.params

const message = await prisma.frontPageMessage.findUnique({
    where: {
        id: id
    }
})

if (!message) {
    return Astro.redirect("/notfound")
}
---

<Layout>
    <div style="margin: 1rem; padding: 1rem; width: fit-content; background: #fff1;">
        <h1 class="mono" style="color: #a57549; font-size: 1.75rem;">
            {message.id.split("").map(c => c.match(/\d/) ? <span style="color: orangered">{c}</span> : c)}
        </h1>
        <p>
            {message.message}
        </p>
    </div>
</Layout>