---
import Layout from "../layouts/Layout.astro"
import { PrismaClient } from "@prisma/client"
import utils from "../server/utils"

const prisma = new PrismaClient()

if (Astro.request.method == "POST") {
	const data = await Astro.request.formData()
	const message = data.get("message")
	if (message) {
		await prisma.frontPageMessage.create({
			data: {
				id: await utils.getNextMessageId(),
				message: message as string
			}
		})
	}
	return Astro.redirect("/")
}
const messages = await prisma.frontPageMessage.findMany()
---

<Layout>
	<h1>The Content Driven Website</h1>
	<h3>Messages</h3>
	<div style="border: 1px dashed red; padding: 1rem; display: flex; flex-direction: column; gap: 0.25rem;">
		{messages.map(m => <span><a href=`message/${m.id}` class="mono" style="color: #a57549">{m.id}</a>: {m.message}</span>)}
	</div>
	<form method="POST" style="display: flex; flex-direction: row; gap: 0.25rem; width: 100%; padding-top: 0.5rem;">
		<span>Add Message</span>
		<input type="text" name="message" minlength="5" maxlength="200" style="flex-grow: 15;" />
		<button type="submit" style="flex-grow: 2;">Add</button>
	</form>
	<div style="min-height: 30px;"></div>
</Layout>
